<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu ">
    <div class="navbar-start">
        <%= link_to 'Inicio', root_path, class: "navbar-item"%>
        <%= link_to 'Dashboard', root_path, class: "navbar-item"%>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
        <%= link_to 'Pais', countries_path, class: "navbar-item"%>
        <%= link_to 'Regiones', regions_path, class: "navbar-item"%>
        <%= link_to 'Rutas', routes_path, class: "navbar-item"%>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, "data-turbo-method"=>'delete', class:"button is-primary"%>
            <% else %>
                <%= link_to 'Soy nuevo!', new_user_registration_path, class:"button is-light"%>
                <%= link_to "Login", new_user_session_path, class:"button is-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>