<div id="<%= dom_id route %>" class="column is-6">
  <br>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
          <%if route.user != nil%>
          <%#unless route.user.nil?%>
            <div class="button is-primary is-light">
              <%= route.user.name%>  <%= route.user.lastname%>
            </div>
            <div>
              <%= route.date%>
            </div>
          <%end%>
          </div>
        </div>
          <div class="container">
            <div class="columns">
              <div class="column">
                <p>Ubicacion</p>
                <p>Ruta</p>
                <p>Grado</p>
                

              </div>
              <div class="column">
                <p><%= route.location %></p>
                <p><%= route.name %></p>
                <p><%= route.grade %></p>
              </div>
            </div>
            <%= link_to "Mostrar Ruta", route, class:"button is-link is-light"%>
          </div>
      </div>
    </div>
  <br>
</div>

