<div id="<%= dom_id route %>">
  <p>
    <strong>Location:</strong>
    <%= route.location %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= route.zone%>
  </p>

  <p>
    <strong>Name:</strong>
    <%= route.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= route.grade %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= route.date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= route.category %>
  </p>

  <p>
    <strong>Lead climbing:</strong>
    <%= route.lead_climbing %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= route.observation %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= route.country_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= route.region_id %>
  </p>

</div>
