<div id="<%= dom_id route %>" class="column is-4">
  <br>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
          <%if route.user != nil%>
          <%#unless route.user.nil?%>
            <%= route.user.name%>
          <%end%>
          </div>
        </div>

        <div class="content">
            <%= route.location %>
            <%= route.zone %>
            <%= route.name %>
            <%= route.grade %>
          <br>
          <%= route.date%>
        </div>

      </div>
    </div>
  <br>
</div>