<p style="color: green"><%= notice %></p>

<%= render @region %>

<div>
  <%= link_to "Edit this region", edit_region_path(@region) %> |
  <%= link_to "Back to regions", regions_path %>

  <%= button_to "Destroy this region", @region, method: :delete %>
</div>
